/public/upload
/storage/framework
/storage/logs
storage/app/public/*
public/assets/images/qrcode/
vendor/
.idea/
/.vagrant
.env
Homestead.json
Homestead.yaml
npm-debug.log
.DS_Store
.phpstorm.meta.php
routes/tests.php
_ide_helper.php
