/config/database.php
/public/upload
/storage/framework
/storage/logs
/storage/app/public
config/database.php
public/assets/images/qrcode/
/vendor
/.idea
/.vagrant
/.env.example
Homestead.json
Homestead.yaml
npm-debug.log
.DS_Store
.phpstorm.meta.php
